<div class="container">



    <form class="form-horizontal">
        <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
                <label for="urlPath" class="col-lg-2 control-label">URL PATH</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="urlPath" placeholder="URL absolute path for e.g. /hello" data-ng-model="stub.urlPath">
                </div>
            </div>

            <div class="form-group">
                <label for="httpMethod" class="col-lg-2 control-label">HTTP METHOD</label>
                <div class="col-lg-10">
                    <select ng-options="item.label for item in items" ng-model="stub.httpMethod" id="httpMethod" class="form-control" ></select>

                </div>
            </div>

            <div class="form-group">

                <label for="httpHeaderNames" class="col-lg-2 control-label">HTTP HEADERS</label>
                <div class="clearfix"></div>
                <div class="mini-group col-lg-offset-2" ng-repeat="rh in responseHeadersList">
                <div class="col-lg-5">
                    <input type="text" class="form-control" id="httpHeaderNames"

                           ng-model="responseHeadersList[$index].headerName"
                           >
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" id="httpHeaderValues"   ng-model="responseHeadersList[$index].headerValue">
                </div>
                    <div class="col-lg-2">
                        <button class="remove"  ng-click="removeResponseHeader($index)"></button>
                    </div>

                </div>
                <div class="col-lg-3 col-lg-push-2">
                    <button class="addfields" ng-click="addResponseHeader()">Add fields</button>
                </div>

            </div>

            <div class="form-group">
                <label for="httpResponse" class="col-lg-2 control-label">HTTP RESPONSE</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="httpResponse" ng-model="stub.response"></textarea>

                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a class="btn btn-default" href="#/home">Cancel</a>
                    <button type="submit" class="btn btn-primary" data-ng-click="save(stub)">Save</button>
                </div>
            </div>
            </fieldset>


    </form>

</div>