<div class="container">

    <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

        <!-- NAME -->
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" ng-model="stub.name" required>
        </div>

        <!-- DESCRIPTION -->
        <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" ng-model="stub.description" ng-minlength="3" ng-maxlength="8">
        </div>

        <!-- URL PATH -->
        <div class="form-group">
            <label>Url Path</label>
            <input type="url" name="urlPath" class="form-control" ng-model="stub.urlPath">
        </div>

        <!-- http method -->
        <div class="form-group">
            <label>Http Method</label>
            <input type="text" name="httpMethod" class="form-control" ng-model="stub.httpMethod">
        </div>


        <!-- http response headers -->
        <div class="form-group">
            <label>Http Response Headers</label>
            <textarea name="responseHeaders" class="form-control" ng-model="stub.responseHeaders"/>
        </div>

        <!-- http method -->
        <div class="form-group">
            <label>Http Response</label>
            <textarea  name="response" class="form-control" ng-model="stub.response"/>
        </div>



        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>